.row
  - provide(:title, 'Enter food')
  = link_to "Back", root_url, class: "button tiny back"
  .row.clear
    .small-12.columns.center
      %h2 Add the food you just ate
  .row
  = form_for(@ingredient) do |f|
    = render 'shared/error_messages', object: f.object
    .row
      .small-offset-4.small-4.columns
        .hide
          = f.label :search
        = f.text_field :search, placeholder: "Search for your food..."
      .small-4.columns
    .row
      .small-offset-4.small-4.columns
        = f.radio_button :source, "simple",class: "inline"
        = f.label "Simple Food?"
      .small-4.columns
    .row
      .small-offset-4.small-4.columns
        = f.radio_button :source, "grocery", class: "inline"
        = f.label "Store Bought?"
      .small-4.columns
    .row
      = f.submit "Add", class: "button small"

