- provide(:title, 'Food Dump')
.row
  #registration
    - if user_signed_in?
      Signed in as #{current_user.email}. Not you?
      = link_to "Sign out", destroy_user_session_path, :method => :delete
    - else
      = link_to "Sign up", new_user_registration_path
      or
      = link_to "Sign in", new_user_session_path
.row
  %h1.title Food Dump
  .row
    = link_to "Food Log", new_ingredient_path, class: "button large absolute top_button"
    = link_to "Stool Status", new_rating_path, class: "button large absolute top_button"
    = link_to "Crystal Ball", new_recommendation_path, class: "button large absolute top_button"
    .row
      .right
        Food Essentials
      .right
        Yummly &
      .right
        Powered by


