- provide(:title, 'Food Dump')
.row
  = link_to "Sign out", destroy_user_session_path, :method => :delete
.row
  %h1.title Food Dump
  .row
    =image_tag "digestive_system.png", id: "logo"
    = link_to "Food Log", new_ingredient_path, class: "button large absolute top_button"
    = link_to "Crystal Ball", new_recommendation_path, class: "button large absolute top_button"
    .row
      = link_to "Stool Status", new_rating_path, class: "button large absolute bottom_button"
    .row
      = link_to (image_tag "pete.png", id: "pete_logo"), "http://petedunlap.com/", target: "_blank"
      .right
        &
      = link_to (image_tag "yummly.png", id: "yummly_logo"), "https://developer.yummly.com/", target: "_blank"
      .right
        Powered by


