- provide(:title, 'Rate your BM')
.row
  = link_to "Back", root_url, class: "button tiny back"
.row.clear
  %h2 Rate your bowel movement
  = form_for(@rating) do |f|
    = render 'shared/error_messages', object: f.object

    = f.label :scale, class: "hide"
    .row
      %h4.left Loose Stool (0) <==> Normal Stool (10)
    .row
      = f.number_field :scale, :min=>0, :max=>100

    = f.submit "Save", class: "button save_button"

