- provide(:title, 'Rate your BM')
= link_to "Back", root_url
= form_for(@rating) do |f|
  = render 'shared/error_messages', object: f.object

  = f.label :scale
  Loose Stool
  = f.range_field :scale, :min=>0, :max=>100
  Hard Stool

  = f.submit "Save", class: "btn btn-large btn-primary"

